@import "tailwindcss";
@import "tailwindcss/utilities";

@font-face {
  font-family: "ppr";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "pprb";
  src: url("./assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "pprl";
  src: url("./assets/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "ppeb";
  src: url("./assets/fonts/Poppins-ExtraBold.ttf");
}

body {
  background-color: hsl(0, 20%, 97%);
  font-family: "pprb", sans-serif;
}

.btn:hover {
  background-color: hsl(180, 66%, 49%);
}

.urls {
  background-image: url("./assets/images/bg-shorten-desktop.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: hsl(257, 27%, 26%);
}

.ppr {
  font-family: "ppr", sans-serif;
}

.pprb {
  font-family: "pprb", sans-serif;
}

.pprl {
  font-family: "pprl", sans-serif;
}

.ppeb {
  font-family: "ppeb", sans-serif;
}

.dv1 {
  background-color: hsl(257, 27%, 26%);
}
